<% content_for :title do %>
	Statistics
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<% content_for :plotlyjs do %>
	<script type="text/javascript">
		var trace1 = {
		  x: ['<%= @dates.join("','").html_safe %>'],
		  y: <%= @recycled_products %>,
		  type: 'scatter',
		  marker: {
		    color: 'rgb(142, 124, 195)',
		    size: 12,
		    line: {
		      color: 'white',
		      width: 0.5
		    }
		  },
		};

		var layout = {
		  title: 'Number of recycled products per day',
		  xaxis: {
			title: 'Date',
			showgrid: true,
			zeroline: false, 
			autorange: true
		  },
		  yaxis: {
			title: 'Number Of Recycled Products',
			showline: false,
			autorange: true
		  }
		};


		var data = [trace1];

		Plotly.newPlot('myDiv', data, layout);
	</script>
<% end %>